body {
    background-color: #ffffff;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: #343a40;
}

.jumbotron {
    background-image: url(img/background.jpg);
}

.footer {
    background-color: #343a40;
    width: 100vw;
    height: 100px;
}